* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #ffffff;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.logo {
    width: 83px;
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 60px;
    cursor: pointer;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.user-icon {
    font-size: 20px;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px
}

h2 {
    text-align: left;
    margin: 20px 0 10px;
}

.notice-list {
    margin-top: 60px;
    position: fixed;
    top: 60px;
    left: 200px;
    right: 200px;
    background-color: #ffffff;
    z-index: 999;
}

.notice-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    align-items: center;
    height: 70px;
}

.notice-item:hover {
    background-color: #f9f9f9;
}

.notice-category {
    font-weight: bold;
    color: blue;
    margin-right: 10px;
}

.notice-title {
    flex-grow: 1;
    text-align: left;
}

.notice-date {
    color: #888;
}

.pagination {
    position: fixed;
    margin-top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    z-index: 1000;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
}

.notice-category {
    color: #7E7CA6;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0%;
    vertical-align: middle;
    white-space: nowrap;
}

.notice-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
    white-space: nowrap;
    flex-grow: 1;
    margin-right: 10px;
    min-width: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.notice-date {
    color: grey;
    font-weight: 350;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0%;
    vertical-align: middle;
    white-space: nowrap;
}


footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 10px;
    color: #888888;
    white-space: nowrap;
}