.PhotoDetailTitleContainer{
/* 타이틀 */

position: relative;
width: 162px;
height: 91px;
left: 878px;
top: 256px;


}
.DetailGallery{

/* 갤러리 */

position: absolute;
width: 50px;
height: 22px;
left: 934px;
top: 256px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #C8C8C8;


float: none;
inline-size: max-content;
}
.DetailTitle{
    /* 개강파티 */

position: absolute;
width: 162px;
height: 53px;
left: 878px;
top: 294px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 53px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;


}