.MyPage {

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  margin: 0 auto;
  gap: 20px;
}

.LogoWrapper {
  display: flex;
  min-width: 433px;
  justify-content: flex-start;
  margin: 0 auto;
  /* margin-bottom: 30px; */
}